[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
WebBuild/
Data/
[Ll]ogs/
[Uu]ser[Ss]ettings/
.vs/
.vscode/
.idea/
.DS_Store
*.csproj
*.unityproj
*.sln
*.slnx
*.user
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
sysinfo.txt
